$grid-columns: 12 !default;

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  column-gap: 20px;
  margin: 0 auto;
}

@for $i from 1 through $grid-columns {
  .column-#{$i} {
    grid-column: span $i;
  }
}

@media (min-width: $mediaMaxWidth) {
  @for $i from 1 through $grid-columns {
    .column-lg-#{$i} {
      grid-column: span $i;
    }
  }
}

@media (min-width: $mediaBp1Width) {
  @for $i from 1 through $grid-columns {
    .column-md-#{$i} {
      grid-column: span $i;
    }
  }
}

@media (min-width: $mediaMinWidth) {
  @for $i from 1 through $grid-columns {
    .column-sm-#{$i} {
      grid-column: span $i;
    }
  }
}
